

<form [formGroup]="datosPersonalesForm" *ngIf="!loading" class="formularioContainer">

    <div class="formularioContainer__containerGrupoInputs">
        <div class="formularioContainer__containerGrupoInputs--containerInput">
            <label>Apellido</label>
        
            <input type="text" 
                   matInput 
                   formControlName="apellido" 
                   placeholder="Apellido" 
                   autocomplete="off" 
                   [ngClass]="{'error_input':(formControl.apellido.hasError('required') && formControl.apellido.touched) || (formControl.apellido.invalid && formControl.apellido.touched)}">
        
            <p class="error" *ngIf="formControl.apellido.hasError('required') && formControl.apellido.touched">El campo Apellido es requerido</p>
            <p class="error" *ngIf="formControl.apellido.hasError('minlength')">Debe tener minimo 2 caracteres</p>
            <p class="error" *ngIf="formControl.apellido.hasError('maxlength')">Debe tener máximo 15 caracteres</p>
        </div>  
        
        <div class="formularioContainer__containerGrupoInputs--containerInput">
            <label>Nombre</label>
        
            <input type="text" 
                   matInput 
                   formControlName="nombre" 
                   placeholder="Nombre" 
                   autocomplete="off"
                   [ngClass]="{'error_input':(formControl.nombre.hasError('required') && formControl.nombre.touched) || (formControl.nombre.invalid && formControl.nombre.touched)}">
            
            <p class="error" *ngIf="formControl.nombre.hasError('required') && formControl.nombre.touched">El campo Nombre es requerido</p>
            <p class="error" *ngIf="formControl.nombre.hasError('minlength')">Debe tener minimo 2 caracteres</p>
            <p class="error" *ngIf="formControl.nombre.hasError('maxlength')">Debe tener máximo 15 caracteres</p>
        </div>
    </div>

    <div class="formularioContainer__containerGrupoInputs">
        <div class="formularioContainer__containerGrupoInputs--containerInput">
            <label>DNI</label>
        
            <input type="text" 
                   matInput 
                   formControlName="dni" 
                   placeholder="Dni" 
                   autocomplete="off" 
                   (keypress)="soloNumeros($event, true)"
                   [ngClass]="{'error_input':(formControl.dni.hasError('required') && formControl.dni.touched) || (formControl.dni.invalid && formControl.dni.touched)}">
        
            <p class="error" *ngIf="formControl.dni.hasError('required') && formControl.dni.touched">El campo Dni es requerido</p>
            <p class="error" *ngIf="formControl.dni.hasError('minlength')">Debe tener minimo 7 caracteres</p>
            <p class="error" *ngIf="formControl.dni.hasError('maxlength')">Debe tener máximo 8 caracteres</p>
        </div>

        <div class="formularioContainer__containerGrupoInputs--containerInput">
            <label>Email</label>
        
            <input type="email" 
                   matInput 
                   formControlName="email" 
                   placeholder="Email" 
                   autocomplete="off"
                   [ngClass]="{'error_input':(formControl.email.hasError('required') && formControl.email.touched) || (formControl.email.invalid && formControl.email.touched)}">
            
            <p class="error" *ngIf="formControl.email.hasError('required') && formControl.email.touched">El email es requerido</p>
            <p class="error" *ngIf="formControl.email.hasError('email')">El email no tiene un formato válido.</p> 
        </div>
    </div>

    <div class="formularioContainer__containerGrupoInputs">
        <div class="formularioContainer__containerGrupoInputs--containerInput">
            <label>Celular</label>
        
            <input type="text" 
                   matInput 
                   formControlName="celular" 
                   placeholder="Celular" 
                   autocomplete="off"
                   (keypress)="soloNumeros($event, true)"
                   [ngClass]="{'error_input': formControl.celular.invalid && formControl.celular.touched}">

            <p class="error" *ngIf="formControl.celular.hasError('minlength')">Debe tener 10 caracteres</p>
            <p class="error" *ngIf="formControl.celular.hasError('maxlength')">Debe tener 10 caracteres</p>
        </div>
    
        <div class="formularioContainer__containerGrupoInputs--containerInput">
            <label>Teléfono</label>
        
            <input type="text" 
                   matInput 
                   formControlName="telefono" 
                   placeholder="Telefono" 
                   autocomplete="off"
                   (keypress)="soloNumeros($event, true)"
                   [ngClass]="{'error_input': formControl.telefono.invalid && formControl.telefono.touched}">
            
            <p class="error" *ngIf="formControl.telefono.hasError('minlength')">Debe tener 10 caracteres</p>
            <p class="error" *ngIf="formControl.telefono.hasError('maxlength')">Debe tener 10 caracteres</p>
        </div>
    </div>

    <div class="formularioContainer__containerGrupoInputs">
        <div class="formularioContainer__containerGrupoInputs--containerInput">
            <label>Domicilio</label>
        
            <input type="text" 
                   matInput 
                   formControlName="domicilio" 
                   placeholder="Domicilio" 
                   autocomplete="off"
                   [ngClass]="{'error_input': formControl.domicilio.invalid && formControl.domicilio.touched}">
            
            <p class="error" *ngIf="formControl.domicilio.hasError('required') && formControl.domicilio.touched">El domicilio es requerido</p>
        </div>
    
        <div class="formularioContainer__containerGrupoInputs--containerInput">
            <label>Provincia</label>

            <select formControlName="provincia" [ngClass]="{'error_input': formControl.provincia.invalid && formControl.provincia.touched}">
                <option value="">-- SELECCIONAR --</option>
                
                <option value="{{provincia.id}}" *ngFor="let provincia of listadoProvincias">{{provincia.nombre}}</option>
            </select>

            <p class="error" *ngIf="formControl.provincia.hasError('required') && formControl.provincia.touched">La provincia es requerida</p>
        </div>

        <div class="formularioContainer__containerGrupoInputs--containerInput">
            <label>Ciudad</label>
            <select formControlName="ciudad" [ngClass]="{'error_input': formControl.ciudad.invalid && formControl.ciudad.touched}">
                <option value="">-- SELECCIONAR --</option>

                <option value="{{ciudad.id}}" *ngFor="let ciudad of listadoCiudades">{{ciudad.nombre}}</option>
            </select>

            <p class="error" *ngIf="formControl.ciudad.hasError('required') && formControl.ciudad.touched">La ciudad es requerida</p>
        </div>
    </div>

    <div class="formularioContainer__containerGrupoInputs">
        <div class="formularioContainer__containerGrupoInputs--containerInput">
            <label>Fecha de Nacimiento</label>
    
            <input matInput 
                   type="date"
                   placeholder="Fecha de Nacimiento"
                   formControlName="fechaNacimiento"
                   
                   [ngClass]="{'error_input':(formControl.fechaNacimiento.hasError('required') && formControl.fechaNacimiento.touched) || (formControl.fechaNacimiento.invalid && formControl.fechaNacimiento.touched)}">
    
           
            <p class="error" *ngIf="formControl.fechaNacimiento.hasError('required') && formControl.fechaNacimiento.touched">El campo Fecha Nacimiento es requerido</p>
        </div>
    
        <div class="formularioContainer__containerGrupoInputs--containerInput">
            <label>Usuario</label>
        
            <input type="text" 
                   matInput 
                   formControlName="usuario" 
                   placeholder="Usuario" 
                   autocomplete="off" 
                   [ngClass]="{'error_input':(formControl.usuario.hasError('required') && formControl.usuario.touched) || (formControl.usuario.invalid && formControl.usuario.touched)}">
            
            <p class="error" *ngIf="formControl.usuario.hasError('required') && formControl.usuario.touched">El campo Usuario es requerido</p>
            <p class="error" *ngIf="formControl.usuario.hasError('minlength')">Debe tener minimo 3 caracteres</p>
            <p class="error" *ngIf="formControl.usuario.hasError('maxlength')">Debe tener máximo 30 caracteres</p>
        </div>
    
        <div class="formularioContainer__containerGrupoInputs--containerInput">
            <label>Contraseña</label>
        
            <input type="password" 
                   matInput 
                   placeholder="Contraseña" 
                   formControlName="password"
                   autocomplete="off"
                   [ngClass]="{'error_input':(formControl.password.hasError('required') && formControl.password.touched) || (formControl.password.invalid && formControl.password.touched)}"
                   (ngModelChange)="validarPassword($event)"
                   >

            <p class="error" *ngIf="formControl.password.hasError('required') && formControl.password.touched">La contrseña es requerido</p>
            <p class="error" *ngIf="regPassValid == false && passwordValid == false && minLenghtPass == false && formControl.password.hasError('required') == false">
                La contraseña no es válida (Debe ser minimo 8 caracteres, alfanumerica).
            </p>
        </div>
    </div>
        
    <div class="formularioContainer__botonContainer">
        <button class="formularioContainer__botonContainer--buttonEnviar" mat-raised-button color="{{colorEnviar}}" (click)="guardar()" [disabled]="disabledEnviar">Enviar datos</button>

        <div class="formularioContainer__botonContainer--siguienteContainer" *ngIf="registroOk">
            <button mat-fab color="warn" matTooltip="Continuar Registro" matStepperNext>
                <mat-icon>arrow_right_alt</mat-icon>
            </button>
        </div>
    </div>
        
</form>
