
<div class="table-responsive-sm tableContainer" *ngIf="listadoCoberturas.length">

    <h2>COBERTURAS DISPONIBLES</h2>

    <table class="table table-ligth tableContainer__table">
        <thead class="tableContainer__table--thead">
            <tr class="tableContainer__table--thead__tr">
                <th class="tableContainer__table--thead__tr--th" scope="col">Titulo</th>
                <th class="tableContainer__table--thead__tr--th" scope="col">Puntaje </th>
                <th class="tableContainer__table--thead__tr--th" scope="col">Descripcion</th>
                <th class="tableContainer__table--thead__tr--th" scope="col">Franquicia</th>
                <th class="tableContainer__table--thead__tr--th" scope="col">Costo</th>
                <th class="tableContainer__table--thead__tr--th" scope="col">Granizo</th>
            </tr>
        </thead>

        <tbody class="tableContainer__table--tbody">
            <tr class="tableContainer__table--tbody__tr" 
                *ngFor="let item of listadoCoberturas; let i = index;" 
                (click)="selectedRow(item)" 
                [ngClass]="{'tableContainer__table--tbody__tr--selected' : item === selectedElement}" 
                style="cursor: pointer;">
                
                <td class="tableContainer__table--tbody__tr--td">
                    {{ item.titulo}}
                </td>

                <td class="tableContainer__table--tbody__tr--td">
                    <div class="tableContainer__table--tbody__tr--td__puntajeContainer">
                        <span>{{ item.puntaje}}</span>
                        <mat-icon class="color-star">star_rate</mat-icon>
                    </div>
                </td>

                <td class="tableContainer__table--tbody__tr--td">
                    <div class="tableContainer__table--tbody__tr--td__descripcionContainer">
                        {{ item.descripcion}}
                    </div>
                </td>

                <td class="tableContainer__table--tbody__tr--td">
                    {{ item.franquicia}}
                </td>

                <td class="tableContainer__table--tbody__tr--td">
                    $ {{ item.costo}}
                </td>

                <td class="tableContainer__table--tbody__tr--td">
                    <mat-icon class="color-green" *ngIf="item.granizo">check_circle_outline</mat-icon>
                    <mat-icon class="color-red" *ngIf="!item.granizo">highlight_off</mat-icon>
                </td>
            </tr>
        </tbody>

    </table>
</div>

<div class="formularioContainer__botonContainer">
    <div class="formularioContainer__botonContainer--siguienteContainer">
        <button mat-fab color="warn" matTooltip="Regresar pestaña anterior" matStepperPrevious>
            <mat-icon>west</mat-icon>
        </button>
    </div>

    <button class="formularioContainer__botonContainer--buttonEnviar" mat-raised-button color="{{colorEnviar}}" (click)="guardar()" [disabled]="disabledEnviar">Enviar datos</button>

    <div class="formularioContainer__botonContainer--siguienteContainer" *ngIf="registroOk">
        <button mat-fab color="warn" matTooltip="Continuar Registro" matStepperNext>
            <mat-icon>arrow_right_alt</mat-icon>
        </button>
    </div>
</div>
