@mixin background-image-content($_url) {
  background-image: url($_url);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

@mixin display-flex-content($_display, $_align, $_justify, $_flexDirection) {
  display: $_display;
  align-items: $_align;
  justify-content: $_justify;
  flex-direction: $_flexDirection;
}

@mixin display-grid-content($_columns, $_rows) {
  display: grid;
  grid-template-columns: $_columns;
  grid-template-rows: $_rows;
}

@mixin fonts-content($_family, $_size, $_weight, $_style) {
  font-family: $_family;
  font-size: $_size;
  font-weight: $_weight;
  font-style: $_style;
}
