@import "../../../../assets/mixins/mixins";
@import "../../../../assets/variables/colors";

.footerContainer {
  color: $colorGris;
  @include display-grid-content(20% 20% 20% 20% 20%, 100px);
  text-align: center;

  &__contenido {
    border-left: 1px solid $colorGris;
    @include display-flex-content(flex, center, center, "");
    margin: 10px 0px;

    &:first-child {
      border-left: none;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .footerContainer {
    &__contenido {
      width: 100%;
      padding: 15px;
      & p {
        font-size: 0.8rem;
      }

      & img {
        width: 75%;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .footerContainer {
    &__contenido {
      padding: 15px;
      & p {
        font-size: 0.7rem;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .footerContainer {
    &__contenido {
      padding: 5px;
      & p {
        font-size: 0.5rem;
      }
    }
  }
}
