<footer class="footerContainer">
    <div class="footerContainer__contenido">
        <p>Nº de inscripción SSN 116</p>
    </div>

    <div class="footerContainer__contenido">
        <p>Atención al asegurado 0800-666-8400</p>
    </div>

    <div class="footerContainer__contenido">
        <p>Organismo de control</p>
    </div>

    <div class="footerContainer__contenido">
        <p>www.argentina.gob.ar/ssn</p>
    </div>

    <div class="footerContainer__contenido">
        <img src="../../../../assets/img/Superintendencia-de-Seguros-de-la-Nacion.png" alt="superIntendenciaLogo">
    </div>
</footer>